body { 
    font-family: 'Inter', sans-serif; 
}

.markdown-section {
    max-width: 850px;
    margin: auto;
    padding: 40px;
    line-height: 1.6;
    font-size: 16px;
}

pre code {
    font-size: 14px;
    padding: 12px;
    border-radius: 6px;
}

.search input {
    border-radius: 6px;
    padding: 8px 12px;
}

/*** Docsify styles ***/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.20);
}

.sidebar .sidebar-nav .folder {
    cursor: pointer;
}